@import "grid.scss";
@import "reset.scss";
@import "type.scss";
@import "code-highlighting.scss";

html, body {
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}
p {
  font-weight: normal;
}